/**
 * Copyright 2016-2022 the authors (see README.md).
 *
 * This file is part of cloogle-web.
 *
 * Cloogle-web is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, version 3 of the License.
 *
 * Cloogle-web is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
 * for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with cloogle-web. If not, see <https://www.gnu.org/licenses/>.
 *
 * The software is licensed under additional terms under section 7 of the GNU
 * Affero General Public License; see the LICENSE file for details.
 */

#tools {
	margin-top: .8em;
}

#tools input {
	padding: 0;
}

#viewer {
	box-sizing: border-box;
}

#viewer p {
	margin: 1em;
}

table.source-code {
	font-family: monospace;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	white-space: pre;
}

table.source-code tr td {
	padding: 0;
}

table.source-code tr td.license {
	color: #888;
	font-family: sans-serif;
	font-size: 85%;
	padding-bottom: 1em;
	padding-top: 1em;
}

table.source-code tr td.license a {
	color: inherit;
}

table.source-code tr:last-child td {
	padding-bottom: 10em;
}

table.source-code tr td:first-child {
	background-color: #dbdee3;
	cursor: pointer;
	font-size: 90%;
	padding-left: 1em;
	padding-right: .6em;
	text-align: right;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.source-code tr td:last-child {
	padding-left: .3em;
}

.hll {
	background-color: #eef;
}

table.source-code tr.hll-first {
	box-shadow: 0 -1px 0 #dbdee3;
}

table.source-code tr.hll-last {
	box-shadow: 0 1px 0 #dbdee3;
}

table.source-code tr.hll-first.hll-last {
	box-shadow: 0 -1px 0 #dbdee3, 0 1px 0 #dbdee3;
}
